@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgba(225, 225, 225, 0.826);
  --text-color-second: rgb(68, 68, 68);
  --text-color-third: rgb(30, 159, 171);
  --first-color: rgb(110, 87, 224);
  --first-color-hover: rgb(40, 91, 212);
  --second-color: rgb(0, 201, 255);
  --third-color: rgb(192, 166, 49);
  --first-shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: var(--text-color-second);
}

header {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.155);
  padding: 20px 40px;
}

.titulo h1 {
  font-weight: 500;
  color: var(--text-color-third);
}

.header {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  font-weight: 500;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nav li {
  padding: 5px;
}

.nav li a, .cv a, a.cv {
  color: var(--text-color-second);
  text-decoration: none;
}

.nav li a:hover, .nav li a:focus {
  font-weight: 600;
  color: var(--first-color);
}

.cv a:hover, .cv a:focus, a.cv:focus, a.cv:hover {
  color: white;
  font-weight: 600;
  background-color: var(--second-color);
}

.cv a, a.cv {
  display: flex;
  border-radius: 10px;
  padding: 15px;
  background: var(--color-white);
}

main {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1280px;
  padding: 0px 40px;
}

main h3 {
  font-size: 0.9em;
  border-radius: 6px;
  padding: 4px;
  display: inline-block;
  background-color: var(--third-color);
  color: white;
}

.pag01 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.inicio {
  margin-top: 6%;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.inicio h1 {
  font-size: 2.5em;
  margin: 0px 0px 30px 0px;
}

.inicio img {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 55% 45% 55% 45%;
}

.texto {
  flex: 1 1 400px;
}

.texto p {
  text-indent: 1em;
  text-align: justify;
}

.img {
  flex: 1 1 220px;
  max-width: 500px;
  margin: auto;
  padding-bottom: 15px;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
}

a.cv {
  margin-left: 15px;
}

a.contrate-me {
  border-radius: 10px;
  padding: 15px;
  color: white;
  text-decoration: none;
  background-color: var(--first-color);
}

a.contrate-me:hover, a.contrate-me:focus {
  background-color: var(--second-color);
  font-weight: 600;
}

.redes {
  margin-top: 10px;
}

.redes div {
  width: 50px;
  height: 50px;
  margin: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: inline-block;
}

.redes a {
  text-align: center;
  margin-top: 5.5px;
  border-radius: 25%;
  display: block;
  width: 100%;
  height: 100%;
}

.uil-linkedin, .uil-github {
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 25px;
}

.redes a i:hover, .redes a i:focus {
  color: var(--first-color);
}

.pag02 {
  text-align: center;
}

.pag02 h2 {
  margin: 60px 60px 60px;
}

.pag02 h3 {
  color: var(--text-color-third);
  font-size: 2em;
  background-color: white;
  margin: 20px 0px;
}

.introducao {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  overflow: hidden;
}

.pag02 p {
  text-indent: 2em;
  margin: 15px;
  text-align: justify;
}

.pag02 a {
  margin: 15px;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  color: white;
  background-color: var(--first-color);
  float: right;
  width: 140px;
}

.pag02 a:hover, .pag02 a:focus {
  background-color: var(--first-color-hover);
}

.fullstack {
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.frontend, .backend, .database {
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex: 1 1 70px;
}

.frontend h4, .backend h4, .database h4 {
  color: var(--text-color-third);
}

.proj_exp {
  margin-bottom: 20px;
}

.proj_exp h2 {
  margin: 60px 0px;
}

.proj {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.proj div {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 15px;
  flex: 1 0 200px;
  min-width: 200px;
}

.proj i {
  width: 100%;
  height: 100%;
}

.proj h3 {
  margin: 0px 15px;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--text-color-second);
}

.proj p {
  margin: 0px;
  text-indent: 0px;
  text-align: center;
}

.proj div:hover, .proj div:focus {
  background-color: var(--second-color);
}
.proj div:hover .uil-bag, .proj div:hover .uil-medal, .proj div:focus .uil-bag, .proj div:focus .uil-medal {
  color: white;
}
.proj div:hover h3, .proj div:hover p, .proj div:focus h3, .proj div:focus p {
  color: white;
  background-color: var(--second-color);
}

.uil-medal, .uil-bag {
  color: var(--second-color);
  font-size: 50px;
}

.pag03 h2 {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.pag03 p {
  text-align: center;
  margin-bottom: 50px;
}

.contat-me {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contat-me div {
  padding: 1px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 15px;
  flex: 1 0 340px;
  min-width: 300px;
  min-height: 270px;
}

.mail_cel {
  background-color: var(--second-color);
}
.mail_cel h2, .mail_cel p, .mail_cel a, .mail_cel i {
  color: white;
}

div.mail_cel p {
  padding: 10px;
}

.mail_cel:hover, .mail_cel:focus {
  background-color: white;
}
.mail_cel:hover h2, .mail_cel:hover p, .mail_cel:hover a, .mail_cel:hover i, .mail_cel:focus h2, .mail_cel:focus p, .mail_cel:focus a, .mail_cel:focus i {
  color: var(--text-color-second);
}

.contat-me h2 {
  margin: 25px 0px;
}

.contat-me p {
  margin: 25px 0px;
}
.contat-me p a {
  text-decoration: none;
}

.contat-me p:hover a {
  text-decoration: underline;
}

.formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.formulario {
  box-shadow: none;
}

.formulario input {
  border: 2px solid darkgray;
  padding: 10px;
  text-indent: 8px;
  width: 47%;
  border-radius: 20px;
  margin: 3px;
  flex: 1 0 150px;
}

textarea.mensagem {
  resize: none;
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 20px;
  margin: 6px 0px;
  width: 100%;
  height: 80%;
}

.enviar, .reset {
  background-color: white;
}

.enviar:hover, .enviar:focus, .reset:hover, .reset:focus {
  background-color: var(--second-color);
  color: white;
}

footer {
  margin: 80px 0px 0px 0px;
  padding-bottom: 20px;
  text-align: center;
}
footer h1 {
  font-size: 1.2em;
}
footer p {
  font-size: 0.8em;
}
footer strong {
  color: var(--text-color-third);
}

@media screen and (max-width: 730px) {
  .nav ul {
    flex-flow: column;
    align-items: center;
  }
  .cv {
    display: none;
  }
  main {
    padding: 0px 20px;
  }
}/*# sourceMappingURL=style.css.map */